@charset "utf-8";
/* CSS Document */

.testswitch {
    position: relative;
    float: left; 
    width: 90px;
    margin: 0;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}

.testswitch-checkbox_1 {
    display: none;
}

.testswitch-label_1 {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}

.testswitch-inner_1 {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner_1::before, .testswitch-inner_1::after {
    display: block; 
    float: right; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: 
    Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner_1::after {
    content: attr(data-on);
    padding-left: 1px;
    background-color: #EEEEEE; 
    color: #999999;
}

.testswitch-inner_1::before {
    content: attr(data-off);
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}

.testswitch-switch_1 {
    position: absolute; 
    display: block; 
    width: 22px;
    height: 22px;
    margin: 4px;
    background: #FFFFFF;
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox_1:checked + .testswitch-label_1 .testswitch-inner_1 {
    margin-left: 0;
}

.testswitch-checkbox_1:checked + .testswitch-label_1 .testswitch-switch_1 {
    right: 0px; 
}

.testswitch {
    position: relative;
    float: left; 
    width: 90px;
    margin: 0;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}

.testswitch-checkbox_1 {
    display: none;
}

.testswitch-label_1 {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}

.testswitch-inner_1 {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner_1::before, .testswitch-inner_1::after {
    display: block; 
    float: right; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: 
    Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner_1::after {
    content: attr(data-on);
    padding-left: 1px;
    background-color: #EEEEEE; 
    color: #999999;
}

.testswitch-inner_1::before {
    content: attr(data-off);
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}

.testswitch-switch_1 {
    position: absolute; 
    display: block; 
    width: 22px;
    height: 22px;
    margin: 4px;
    background: #FFFFFF;
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox_1:checked + .testswitch-label_1 .testswitch-inner_1 {
    margin-left: 0;
}

.testswitch-checkbox_1:checked + .testswitch-label_1 .testswitch-switch_1 {
    right: 0px; 
}

.testswitch {
    position: relative;
    float: left; 
    width: 90px;
    margin: 0;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}

.testswitch-checkbox_1 {
    display: none;
}

.testswitch-label_1 {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}

.testswitch-inner_1 {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner_1::before, .testswitch-inner_1::after {
    display: block; 
    float: right; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: 
    Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner_1::after {
    content: attr(data-on);
    padding-left: 1px;
    background-color: #EEEEEE; 
    color: #999999;
}

.testswitch-inner_1::before {
    content: attr(data-off);
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}

.testswitch-switch_1 {
    position: absolute; 
    display: block; 
    width: 22px;
    height: 22px;
    margin: 4px;
    background: #FFFFFF;
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox_1:checked + .testswitch-label_1 .testswitch-inner_1 {
    margin-left: 0;
}

.testswitch-checkbox_1:checked + .testswitch-label_1 .testswitch-switch_1 {
    right: 0px; 
}

.testswitch-checkbox_2 {
    display: none;
}

.testswitch-label_2 {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}

.testswitch-inner_2 {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner_2::before, .testswitch-inner_2::after {
    display: block; 
    float: right; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: 
    Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner_2::after {
    content: attr(data-on);
    padding-left: 10px;
    background-color: #EEEEEE; 
    color: #999999;
}

.testswitch-inner_2::before {
    content: attr(data-off);
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}

.testswitch-switch_2 {
    position: absolute; 
    display: block; 
    width: 22px;
    height: 22px;
    margin: 4px;
    background: #FFFFFF;
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox_2:checked + .testswitch-label_2 .testswitch-inner_2 {
    margin-left: 0;
}

.testswitch-checkbox_2:checked + .testswitch-label_2 .testswitch-switch_2 {
    right: 0px; 
}



.testswitch-checkbox_3 {
    display: none;
}

.testswitch-label_3 {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}

.testswitch-inner_3 {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner_3::before, .testswitch-inner_3::after {
    display: block; 
    float: right; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: 
    Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner_3::after {
    content: attr(data-on);
    padding-left: 10px;
    background-color: #EEEEEE; 
    color: #999999;
}

.testswitch-inner_3::before {
    content: attr(data-off);
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}

.testswitch-switch_3 {
    position: absolute; 
    display: block; 
    width: 22px;
    height: 22px;
    margin: 4px;
    background: #FFFFFF;
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox_3:checked + .testswitch-label_3 .testswitch-inner_3 {
    margin-left: 0;
}

.testswitch-checkbox_3:checked + .testswitch-label_3 .testswitch-switch_3 {
    right: 0px; 
}

.testswitch{
	margin-top:300px;
}